.view.view-character
  .col-6
    include ../components/personaldata.pug
  .col-6
    include ../components/attributes.pug
  .col-12
    include ../components/skills.pug
  .col-7
    include ../components/language.pug
  .col-5
    include ../components/knowledge.pug
  .col-12
    include ../components/qualities.pug