.view.view-gear
  .col-12
    include ../components/rangedweapons.pug
  .col-12
    include ../components/meleeweapons.pug
  .col-12
    include ../components/armor.pug
  .col-12
    include ../components/items.pug
  