.view.view-magic
  .col-12
    include ../components/spells.pug
  .col-12
    include ../components/rituals.pug
  .col-12
    include ../components/adeptpowers.pug
  .col-12
    include ../components/preparations.pug