.view.view-matrix
  .col-12
    include ../components/matrixinfo.pug
  .col-12
    include ../components/commlinks.pug
  .col-12
    include ../components/cyberdecks.pug
  .col-12
    include ../components/complexforms.pug
  .col-12
    include ../components/sprites.pug
  .col-12
    include ../components/echoes.pug