.view.view-overview
  +stat-block-number('Initiative', 'initiative')
  +stat-block-number('Matrix Initiative', 'matrix_initiative')
  +stat-block-number('Astral Initiative', 'astral_initiative')
  +stat-block-number('Composure', 'composure')
  +stat-block-number('Judge Intentions', 'composure')
  +stat-block-number('Memory', 'memory')
  +stat-block-number('Lift/Carry', 'lift_carry')
  +stat-block-number('Movement', 'movement')
  +stat-block-number('Defence Rating', 'defence_rating')
  +stat-block-number('Edge Points', 'edge_points')

  
  include ../components/conditionmonitor.pug