.view.view-social
  .col-6
    include ../components/contacts.pug
  .col-6
    include ../components/sins.pug
  .col-6
    include ../components/lifestyles.pug
  .col-6
    include ../components/licenses.pug