$sheet-namespace: '' !default;

.#{$sheet-namespace}card {
  background-clip: inherit;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .#{$sheet-namespace}card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;

    h3 {
      margin: 0px !important;
      padding: 0px !important;
    }
  }

  .#{$sheet-namespace}card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
}