@use './variables' as *;

$sheet-namespace: '' !default;

.#{$sheet-namespace}sr6cs {
  fieldset {
    border: none;
    width: 100%;
  }

  input.#{$sheet-namespace}input, select.#{$sheet-namespace}input, textarea.#{$sheet-namespace}textarea {
    background-clip: padding-box;
    border-radius: 0.25em;
    display: block;
    font-family: $base-font-family;
    font-size: 0.9em;
    font-weight: bold;
    height: calc(1.5em + 0.75em + 2px);
    margin: 0;
    line-height: 1.5;
    padding: 0.375em 0.75em;
    width: 100%;
  }

  textarea.#{$sheet-namespace}textarea {
    box-sizing: border-box;
    font-family: $note-font-family;
    font-size: 1em;
    font-weight: 500;
    height: 6em;
    resize: vertical;
  }

  .#{$sheet-namespace}checkbox {
    label {
      cursor: pointer;
      margin-bottom: 0;
      position: relative;
      vertical-align: top;

      &:hover input ~ span {
        background-color: #ccc;
      }

      input {
        cursor: pointer;
        height: 0;
        opacity: 0;
        position: absolute;
        width: 0;

        &:checked ~ span {
          &:after {
            display: block;
          }
        }
      }

      span {
        border-radius: 5px;
        height: 26px;
        left: 0;
        position: absolute;
        top: -13px;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        width: 26px;

        &:after {
          border: solid white;
          border-width: 0 3px 3px 0;
          content: "";
          display: none;
          height: 10px;
          left: 9px;
          position: absolute;
          top: 5px;
          width: 5px;
          transform: rotate(45deg);
        }
      }
    }
  }
}