@use './variables' as *;

$sheet-namespace: '' !default;
.#{$sheet-namespace}sr6cs {
  .#{$sheet-namespace}flex-table {
    .#{$sheet-namespace}flex-table-header {
      align-items: center;
      display: flex;
      vertical-align: bottom;
    }

    .#{$sheet-namespace}row {
      display: flex;
      flex-wrap: wrap;
      vertical-align: top;
      width: 100%;
    }
  }
}