$base-font-family: 'Ovo', serif;
$header-font-family: 'Zilla Slab', serif;
$note-font-family: 'Baloo Tamma 2', cursive;
$pages: 'overview', 'character', 'background', 'gear', 'augments', 'magic', 'matrix', 'social', 'vehicle', 'settings';