include ../../mixins.pug
- var attrs = require('@/data/attributenames.json')
- var skills = require('@/data/skills.json')
- var weaponskills = Object.values(skills).filter(x => x.weapons);

.ranged-weapons-overview
  input.is-hidden(type='checkbox' readonly name=attr(attrs.settings.hasrangedweapons) value='1')
  .card
    .card-header
      h3(data-i18n=i18nize('ranged weapons')) Ranged Weapons
    .card-body
      fieldset(class='repeating_rangedweapons')
          