- var attrs = require('@/data/attributenames.json')
include ../../mixins.pug

mixin overview-attr-block(display, stat)
  .attribute-summary
    .attribute-display
      span= `${display}: `
    .attribute-value
      span(name=attr_auto(stat))

.summary
  .attribute-block.is-flex
    +overview-attr-block('Bod', attrs.attributes.body)
    +overview-attr-block('Agi', attrs.attributes.agility)
    +overview-attr-block('Rea', attrs.attributes.reaction)
    +overview-attr-block('Spd', attrs.attributes.strength)
    +overview-attr-block('Wil', attrs.attributes.willpower)
    +overview-attr-block('Log', attrs.attributes.logic)
    +overview-attr-block('Int', attrs.attributes.intuition)
    +overview-attr-block('Cha', attrs.attributes.charisma)
    +overview-attr-block('Edg', attrs.attributes.edge)
    +overview-attr-block('Karma', attrs.personal.karma)
    +overview-attr-block('¥', attrs.personal.yen)

  include ./ranged.pug
    