@use './variables' as *;

$sheet-namespace: '' !default;

.#{$sheet-namespace}sr6cs {
  .#{$sheet-namespace}ranged-weapons {
    .#{$sheet-namespace}edit-form {
      display: none;
    }

    input[name=attr_rangedweapon-edit]:checked ~ .#{$sheet-namespace}edit-form {
      display: flex;
    }
  }
}