include ./mixins.pug

input.is-hidden(type='checkbox' name=attr('show-darkly') value='1' checked)
input.is-hidden(type='checkbox' name=attr('show-minty') value='1')
+hidden-attr('sheet-version')(value='1.0')

.sr6cs.darkly-theme.minty-theme
  - var views = require('@/data/views.json');
  each val in views
    +hidden-attr-check('show-view-'+val)

  include ./views/header.pug
  include ./views/overview.pug
  include ./views/background.pug
  include ./views/character.pug
  include ./views/gear.pug
  include ./views/augments.pug
  include ./views/magic.pug
  include ./views/matrix.pug
  include ./views/social.pug
  include ./views/vehicle.pug
  include ./views/settings.pug
script(type='text/worker')
  | const attributes = #[!= JSON.stringify(require('@/data/attributes.json')) ];
  | const qualities = #[!= JSON.stringify(require('@/data/qualities.json')) ];
  | const skills = #[!= JSON.stringify(require('@/data/skills.json')) ];
  | const sprites = #[!= JSON.stringify(require('@/data/sprites.json')) ];
  | const views = #[!= JSON.stringify(require('@/data/views.json')) ];
  include ../js/main.js