mixin add-repeating-inputs(base, inputlist)
  each val in inputlist
    +repeating-input(base, val)

mixin condition-track(base, count)
  - var n = 0
  while n < count
    - n++
    .condition-box
      input(type='hidden' name='attr_'+base+'_condition_'+n)

mixin hidden-attr(name)
  input(type='hidden' name='attr_'+name)&attributes(attributes)

mixin hidden-attr-check(name)
  input.is-hidden(type='checkbox' name='attr_'+name value="1")&attributes(attributes)

mixin repeating-li(base, display, name, i18n=name)
  li(class=base+'-'+name data-i18n=i18n)= display

mixin repeating-input(base, name)
  input(name='attr_'+name type='text')

mixin stat-block(title, attrname)
  .attr-block.mb-1(class="attr-"+attrname)
    label.is-flex.is-vcentered
      span.is-half(data-i18n=attrname)= title
      span.is-half
        input.input(name="attr_"+attrname type='text' value='')&attributes(attributes)

mixin stat-block-number(title, attrname)
  +stat-block(title, attrname)(type='number' min='0' value='0')&attributes(attributes)

-
  var attributes = {
    agility: { name: 'agility', display: 'Agility', abbr: 'AGI', type: 'physical' },
    body: { name: 'body', display: 'Body', abbr: 'BOD', type: 'physical' },
    charisma: { name: 'charisma', display: 'Charisma', abbr: 'CHA', type: 'mental' },
    intuition: { name: 'intuition', display: 'Intuition', abbr: 'INT', type: 'mental' },
    logic: { name: 'logic', display: 'Logic', abbr: 'LOG', type: 'mental' },
    magic: { name: 'magic', display: 'Magic', abbr: 'MAG', type: 'none' },
    reaction: { name: 'reaction', display: 'Reaction', abbr: 'REA', type: 'physical' },
    resonance: { name: 'resonance', display: 'Resonance', abbr: 'RES', type: 'none' },
    strength: { name: 'strength', display: 'Strength', abbr: 'STR', type: 'physical' },
    willpower: { name: 'willpower', display: 'Willpower', abbr: 'WIL', type: 'mental' },
  };