-
  function i18nize(text) { 
    var transform = text.toLowerCase().replace(' ', '_').replace(/\W/, '');
    return `${transform}-u`;
  }

  function attr(string) {
    return `attr_${string}`;
  }

mixin add-repeating-inputs(base, inputlist)
  each val in inputlist
    +repeating-input(base, val)

mixin condition-track(base, count)
  - var n = 0
  while n < count
    - n++
    .condition-box
      input(type='hidden' name='attr_'+base+'_condition_'+n)

mixin hidden-attr(name)
  input(type='hidden' name='attr_'+name)&attributes(attributes)

mixin hidden-attr-check(name)
  input.is-hidden(type='checkbox' name='attr_'+name value="1")&attributes(attributes)

mixin popover(initialText, popoverText)
  span.popover(aria-label=popoverText data-i18n-aria-label=i18nize(popoverText) data-i18n=i18nize(initialText))= initialText

mixin repeating-li(base, display, name, i18n=name)
  li(class=base+'-'+name data-i18n=i18nize(display))= display

mixin repeating-input(base, name)
  input(name='attr_'+name type='text')

mixin stat-block(title, attrname)
  .attr-block.mb-1(class="attr-"+attrname)
    label.is-flex.is-vcentered
      span.is-half(data-i18n=i18nize(title))= title
      span.is-half
        input.input(name="attr_"+attrname type='text' value='')&attributes(attributes)

mixin stat-block-number(title, attrname)
  +stat-block(title, attrname)(type='number' min='0' value='0')&attributes(attributes)
