- var base='augmentation'

.component(class='augmentations')
  h3(data-i18n='augmentations-u') Augmentations
  ul(class=base+'-header')
    +repeating-li(base, 'Augmentation', 'name', 'augmentation')
    +repeating-li(base, 'Rating', 'rating')
    +repeating-li(base, 'Notes', 'notes')
    +repeating-li(base, 'Essence', 'essence')
  fieldset(class='repeating_'+base)
    +add-repeating-inputs(base, ['name', 'rating', 'notes', 'essence'])