.character-background
  .card
    .card-header
      h3(data-i18n='background-u') Background
    .card-body
      .flex-table
        .is-flex
          .col-12
            textarea.textarea(name='attr_backgrounddesc')