include ../mixins.pug
.complexforms
  .card
    .card-header
      h3(data-i18n=i18nize('complex forms')) Complex Forms
    .card-body
      .flex-table
        .flex-table-header
          .col-3(data-i18n=i18nize('name')) Name
          .col-2(data-i18n=i18nize('fade')) Fade
          .col-2(data-i18n=i18nize('duration')) Duration
          .col-5(data-i18n=i18nize('notes')) Notes
        .is-flex
          fieldset(class='repeating_complexforms')
            .row.is-vcentered
              .col-3
                input.input(name='attr_cfname' type='text' value='')
              .col-2
                input.input(name='attr_cffade' type='number' value='0')
              .col-2
                input.input(name='attr_cfduration' type='text')
              .col-5
                input.input(name='attr_cfnotes' type='text' value='')