- var base='contact'

.component(class='contacts')
  h3(data-i18n='contacts-u') Contacts
  ul(class=base+'-header')
    +repeating-li(base, 'Contact', 'name', 'contact')
    +repeating-li(base, 'Loyalty', 'loyalty')
    +repeating-li(base, 'Connection', 'connection')
  fieldset(class='repeating_'+base)
    +add-repeating-inputs(base, ['name', 'loyalty', 'connection'])