.knowledge
  .card
    .card-header
      h3(data-i18n='knowledge-u') Knowledge
    .card-body
      .flex-table
        .flex-table-header
          .col-12(data-i18n='topic-u') Topic
        .is-flex
          fieldset(class='repeating_knowledge')
            .row.is-vcentered
              .col-12
                input.input(name='attr_topic' type='text')