- var attrs = require('@/data/attributenames.json')
include ../mixins.pug

.language
  .card
    .card-header
      h3(data-i18n=i18nize('language')) Language
    .card-body
      .flex-table
        .flex-table-header
          .col-6(data-i18n=i18nize('language')) Language
          .col-6(data-i18n=i18nize('level')) Level
        .is-flex
          fieldset(class='repeating_language')
            .row.is-vcentered
              .col-6
                input.input(name=attr(attrs.languages.name) type='text' value='')
              .col-6
                select.input(name=attr(attrs.languages.level))
                  option(value='1' data-i18n=i18nize('Basic')) Basic
                  option(value='2' data-i18n=i18nize('Specialist')) Specialist
                  option(value='3' data-i18n=i18nize('Expert')) Expert
                  option(value='4' data-i18n=i18nize('Native')) Native