include ../mixins.pug

.language
  .card
    .card-header
      h3(data-i18n=i18nize('language')) Language
    .card-body
      .flex-table
        .flex-table-header
          .col-6(data-i18n=i18nize('language-u')) Language
          .col-6(data-i18n=i18nize('level')) Level
        .is-flex
          fieldset(class='repeating_language')
            .row.is-vcentered
              .col-6
                input.input(name='attr_languagename' type='text')
              .col-6
                select.input(name='attr_languagelevel')
                  option(value='1') Basic
                  option(value='2') Specialist
                  option(value='3') Expert
                  option(value='4') Native