include ../mixins.pug
.licenses
  .card
    .card-header
      h3(data-i18n=i18nize('licenses')) Licenses
    .card-body
      .flex-table
        .flex-table-header
          .col-6(data-i18n=i18nize('category')) Category
          .col-6(data-i18n=i18nize('Rating')) Rating
        fieldset(class='repeating_lifestyles')
          .row.is-vcentered
            .col-6
              input.input(name='attr_licname' type='text')
            .col-6
              input.input(name='attr_licrating' type='number' value='0')