- var attrs = require('@/data/attributenames.json')
include ../mixins.pug

.licenses
  .card
    .card-header
      h3(data-i18n=i18nize('licenses')) Licenses
    .card-body
      .flex-table
        .flex-table-header
          .col-9(data-i18n=i18nize('category')) Category
          .col-3(data-i18n=i18nize('Rating')) Rating
        .is-flex
          fieldset(class='repeating_licenses')
            .row.is-vcentered
              .col-9
                input.input(name=attr(attrs.licenses.category) type='text' value='')
              .col-3
                input.input(name=attr(attrs.licenses.rating) type='number' value='0')