.component.matrix-stats
  h3(data-i18n='matrix-stats-u') Matrix Stats

  +stat-block('Attack', 'attack')
  +stat-block('Sleaze', 'sleaze')
  +stat-block('Data Proc.', 'data_processing')
  +stat-block('Firewall', 'firewall')
  +stat-block('Devices/DR', 'devices_rating')
  +stat-block('Programs', 'programs')
  .matrix-damage-track
    +condition-track('matrix', 12)