include ../mixins.pug
- var skills = require('@/data/skills.json')
- var weaponskills = Object.values(skills).filter(x => x.weapons);
.melee-weapons
  .card
    .card-header
      h3(data-i18n=i18nize('melee weapons')) Melee Weapons
    .card-body
      .flex-table
        .flex-table-header
          .col-3(data-i18n=i18nize('weapon')) Weapon
          .col-1
            +popover('DV', 'Damage Value')
          .col-3(data-i18n=i18nize('attack ratings')) Attack Ratings
          .col-2(data-i18n=i18nize('carried')) Carried
          .col-1(data-i18n=i18nize('wifi')) WiFi
          .col-1(data-i18n=i18nize('edit')) Edit
        .is-flex
        fieldset(class='repeating_meleedweapons')
          input.is-hidden(type='checkbox' readonly name='attr_mwisedit' value='1')
          .row.is-vcentered
            .col-3
              span(name='attr_mwname') Name
            .col-1
              span(name='attr_mwdv') DV
            .col-3
              span(name='attr_mwarclose') Close
              | /
              span(name='attr_mwarnear') Near
              | /
              span(name='attr_mwarmedium') Medium
              | /
              span(name='attr_mwarfar') Far
              | /
              span(name='attr_mwarextreme') Extreme
            .col-2
              .checkbox
                label
                  input(name='attr_mwiscarried' type='checkbox' value='1')
                  span
            .col-1
              .checkbox
                label
                  input(name='attr_mwiswifi' type='checkbox' value='1')
                  span
            .col-1
              .checkbox
                label
                  input(name='attr_mwisedit' type='checkbox' value='1')
                  span
          .row.is-vcentered.light-bg.edit-form
            .col-12
              h3 Editing: #[span(name='attr_mwname')]
            .col-2 Weapon Info
            .col-3
              span Name
              input.input(name='attr_mwname' type='text')
            .col-2
              +popover('DV', 'Damage Value')
              input.input(name='attr_mwdv' type='text')
            .col-2
              span Skill
              select.input(name='attr_mwskill')
                option(value='') None
                each skill in weaponskills
                  option(value=skill.name data-i18n=i18nize(skill.name))= skill.display
          .row.is-vcentered.light-bg.edit-form
            .col-2 Attack Ratings
            .col-2
              span Close
              input.input(name='attr_mwarclose' type='number' value='0')
            .col-2
              span Near
              input.input(name='attr_mwarnear' type='number' value='0')
            .col-2
              span Medium
              input.input(name='attr_mwarmedium' type='number' value='0')
            .col-2
              span Far
              input.input(name='attr_mwarfar' type='number' value='0')
            .col-2
              span Extreme
              input.input(name='attr_mwarextreme' type='number' value='0')