include ../mixins.pug

.notes
  .card
    .card-header
      h3(data-i18n=i18nize('notes')) Notes
    .card-body
      .flex-table
        .is-flex
          fieldset(class='repeating_notes')
            .col-12
              textarea.textarea(name='attr_notesnote')