- var base='power'

.component(class='powers')
  h3(data-i18n='powers-or-other-abilities-u') Adept Powers Or Other Abilities
  ul(class=base+'-header')
    +repeating-li(base, 'Name', 'name')
    +repeating-li(base, 'Level', 'level')
    +repeating-li(base, 'Notes', 'notes')
  fieldset(class='repeating_'+base)
    +add-repeating-inputs(base, ['name', 'level', 'notes'])