include ../mixins.pug
- var qualities = Object.values(require('@/data/qualities.json'));
- var positive = qualities.filter(x => x.positive);
- var negative = qualities.filter(x => !x.positive);
.qualities
  .card
    .card-header
      h3(data-i18n=i18nize('qualities')) Qualities
    .card-body
      .flex-table
        .flex-table-header
          .col-6(data-i18n=i18nize('quality')) Quality
          .col-6(data-i18n=i18nize('notes')) Notes
        .is-flex
          fieldset(class='repeating_qualities')
            .row.is-vcentered
              .col-6
                select.input(name='attr_qualityname')
                  option(value='')
                  option Other
                  optgroup(label='Positive')
                    each qual in positive
                      option(value=qual.name)= qual.display
                  optgroup(label='Negative')
                    each qual in negative
                      option(value=qual.name)= qual.display
              .col-6
                input.input(name='attr_qualitynotes' type='text')