include ../mixins.pug
- var skills = require('@/data/skills.json')
- var weaponskills = Object.values(skills).filter(x => x.weapons);
.ranged-weapons
  .card
    .card-header
      h3(data-i18n='ranged-weapons-u') Ranged Weapons
    .card-body
      .flex-table
        .flex-table-header
          .col-3
            span(data-i18n=i18nize('Weapon')) Weapon
          .col-1
            +popover('DV', 'Damage Value')
          .col-3(data-i18n=i18nize('attackratings')) Attack Ratings
          .col-1(data-i18n=i18nize('skill')) Skill
          .col-1(data-i18n=i18nize('carried')) Carried
          .col-1(data-i18n='edit-u') Edit
        .is-flex
          fieldset(class='repeating_rangedweapons')
            input.is-hidden(type='checkbox' readonly name='attr_rwisedit')
            .row.is-vcentered
              .col-3
                span(name='attr_rwname') Name
              .col-1
                span(name='attr_rwdv') DV
              .col-3
                span(name='attr_rwattackratings') ARs
              .col-1
                .checkbox
                  label
                    input(name='attr_rwisedit' type='checkbox' value='1')
                    span
            .row.is-vcentered.light-bg
              .col-3
                input.input(name='attr_rwname' type='text')
              .col-1
                input.input(name='attr_rwdv' type='text')
              .col-2
                input.input(name='attr_rwfiringmodes' type='text')
              .col-2
                input.input(name='attr_rwattackratings' type='text')
              .col-1
                input.input(name='attr_rwammo' type='text')
              .col-2
                select.input(name='attr_rwskill')
                  option(value='') None
                  each skill in weaponskills
                    option(value=skill.name data-i18n=skill.name+'-u')= skill.display
              .col-1
                .checkbox
                  label
                    input(name='attr_rwcarried' type='checkbox' value='1')
                    span