- var attrs = require('@/data/attributenames.json')
include ../mixins.pug

.sins
  .card
    .card-header
      h3(data-i18n=i18nize('sins')) SINs
    .card-body
      .flex-table
        .flex-table-header
          .col-6(data-i18n=i18nize('name')) Name
          .col-3(data-i18n=i18nize('Rating')) Rating
          .col-3(data-i18n=i18nize('Type')) Type
        .is-flex
          fieldset(class='repeating_sins')
            .row.is-vcentered
              .col-6
                input.input(name=attr(attrs.sins.name) type='text' value='')
              .col-3
                input.input(name=attr(attrs.sins.rating) type='number' value='0')
              .col-3
                select.input(name=attr(attrs.sins.type) value='0')
                  option(value='0' data-i18n=i18nize('Fake')) Fake
                  option(value='1' data-i18n=i18nize('Criminal')) Criminal
                  option(value='2' data-i18n=i18nize('Legitimate')) Legitimate
                  option(value='3' data-i18n=i18nize('Other')) Other
              
            .row.is-vcentered
              .col-12
                span(data-i18n=i18nize('Description')) Description
                textarea.textarea(name=attr(attrs.sins.description) value='')