- var base='spell'

.component.spells
  h3(data-i18n='spells-preparations-rituals-complex-forms-u') Spells / Preparations / Rituals / Complex Forms
  ul(class=base+'-header')
    +repeating-li(base, 'S/P/R/CF', 'sprcftype', 's-p-r-cf')
    +repeating-li(base, 'Type', 'type')
    +repeating-li(base, 'Range', 'range')
    +repeating-li(base, 'Duration', 'duration')
    +repeating-li(base, 'Drain', 'drain')
  fieldset(class='repeating_'+base)
    +add-repeating-inputs(base, ['sprcftype', 'type', 'range', 'duration', 'drain'])